$primary_text-color: #ffffff;
$secondary_text-color: #aaaaaa;
$primary-light-background-color: #ffffff;
$secondary-light-background-color: #f0f0f0;
$primary-dark-background-color: #222222;        
$secondary-dark-background-color: #333333;


body{
    background-color: $primary-dark-background-color !important;

    a,li{
        text-decoration: none;
    }
    p, h1, h2, h3, h4, h5, h6 {
    color:$secondary_text-color;
}
}
a{
    color: $primary_text-color;
    &:hover{
        color: $secondary_text-color;
    }
}

.add-button{
    background-color: green;
    color:#ffffff;
    border: none;
    padding: 10px;    
    border-radius: 50px;
    svg{
        stroke: #ffffff;
    }


}

.footer-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: $primary-dark-background-color;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

}
